.fontcolor{
    color:black;
}

.primarybg{
    background-color: black;
    color: white;
}
.navbar{
    background-color:  black;
}
a{
    color: white;
}
.tablebg{
    background-color: rgb(218, 190, 152);
}
